<div class="mt-4">
<form method="POST" action="/search">
    <div class="form-group">
        <label for="search-input" class="form-label">tu khoa</label>
    
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
    </div>
    <br>
  
    <div class="form-group">
        <label for="gender-input">Tu khoa</label>
        <select name="gender" id="gender-input" class="form-control">
            <option value="">--chon gioi tinh</option>
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
    </div>
  

<br>
<button type="submit" class="btn btn-primary">Tim kiem</button>
</form>
</div>